#copyright-bottom-tab-container {
    display: flex;
    height: 150px;
    background-color: #3b3b3b;
    justify-content: center;
    align-items: center;
}

#copyright-title-reserved-text {
    font-family: NanumSquareEB;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}