#copyright-bottom-tab-container {
    display: flex;
    height: 227px;
    background-color: #dee2e6;
}

#copyright-padding-control-container {
    padding: 80px 975px 79px 363px;
}

#copyright-title-reserved-text {
    font-family: NanumSquareEB;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #212529;
}