$kb-indigo-0: #EEF2FE;
$kb-indigo-1: #DCE4FD;
$kb-indigo-2: #BCC9FB;
$kb-indigo-3: #94A9F9;
$kb-indigo-4: #7791F5;
$kb-indigo-5: #5F7FF2;
$kb-indigo-6: #4F72ED;
$kb-indigo-7: #4567E3;
$kb-indigo-8: #3E5FD3;
$kb-indigo-9: #3753C0;


