div, input, label, button {
    font-family: NanumSquareEB;
    font-size: 1.25vw;
    color: #868e96;
    padding: 0;
    margin: 0;
}

/*Sign Up Page Background layout*/
.background-sign-up {
    position:fixed;
    background-color: #ffffff;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    overflow: scroll;
};

.textfield-container {
    width: 62.5%;
    height: 68.888889%;
    margin-top: 15.6%;
    margin-left: 18.8%;

    .textfield {
        width: 100%;
        height: 5.5%;
        margin: 9.6% 0;
        border-width: 0;
        background-color: #f1f3f5;
    }

    .textfield-label {
        float: left;
        width: 50%;
        height: 2.7%;
    }

    .birthday-gender-container {
        width: 100%;
        height: 17.8%;
    }

    .birthday-textfield {
        width: 50%;
        height: 20%;
        margin: 9.6% 0;
        border-width: 0;
        background-color: #f1f3f5;
    }

    .gender-textfield {
        width: 10%;
        height: 20%;
    }
}

.button-container {
    width: 62.5%;
    height: 5.9%;
    margin-top: 20%;
    margin-left: 18.8%;
    border-width: 0;

    .button {
        width: 100%;
        height: 100%;
        padding: 37.5% auto;
        border-radius: 32px;
        border-width: 0;
        color: #ffffff;
        background-color: #364fc7;
    }
}