/*KouponBankTopNavBar CSS Styling*/
#nav-top-bar-container {
    border-radius: 8px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
}

#nav-top-bar-padding-control-container {
    padding: 2.22% 17.7% 1.48% 1.026%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-top-bar-label {
    font-size: 1.025vw;
    color: #2d3748;
    margin-bottom: 1.0185%;
    font-family: NanumSquare;
}

#nav-top-bar-location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 21.2%;
}

#nav-top-bar-location-input {
    // padding-top: 2.04%;
    padding-left: 2.82%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-size: 1.025vw;
    font-family: NanumSquare;
    color: #868e96;
}

#nav-top-bar-starting-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.78%;
}

#nav-top-bar-starting-time-input {
    padding-top: 2.04%;
    padding-left: 2.82%;
    padding-bottom: 1.944%;
    font-size: 1.025vw;
    font-family: NanumSquare;
    color: #868e96;
}

#nav-top-bar-duration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.78%;
}

#nav-top-bar-duration-input {
    padding-top: 2.04%;
    padding-left: 2.82%;
    padding-bottom: 1.944%;
    font-size: 1.025vw;
    font-family: NanumSquare;
    color: #868e96;
}

#nav-top-bar-guest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 21.2%;
}

#nav-top-bar-guest-input {
    // padding-top: 2.04%;
    padding-left: 2.82%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    font-size: 1.025vw;
    font-family: NanumSquare;
    color: #868e96;
}

#nav-top-bar-button {
    width: 10.769%;
    align-content: center;
    background-color: #364fc7;
    border-width: 0;
    border-radius: 8px;
    font-size: 1.025vw;
    color: #ffffff;
    font-family: NanumSquare;
}

/*KouponBankSideTabNavBar CSS Styling*/
#nav-side-tab-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}


#homepage-button-container {

}

#homepage-padding-control-container {
    padding: 28px 57px 28px 58px;
}

#homepage-button {
    height: 64px;
    width: 64px;
    cursor: pointer;
}

#navigation-container {
    display: flex;
    flex-direction: column;
}

.navigation-margin-control-container {
    margin-top: 32px;
}

.navigation-button-container {
    display: flex;
    padding: 17px 0;
    justify-content: center;
}

.navigation-button {
    max-height: 30px;
    max-width: 30px;
    cursor: pointer;
}
