/*KouponBankTopNavBar CSS Styling*/
#nav-top-bar-container {
    position: sticky;
    top: 0;
    z-index: 1012;
    backface-visibility: hidden;
}

#nav-top-bar-padding-control-container {
    padding: 20px 284px;
    border-bottom: 1px solid #eeeeef;
    background-color: #fff;
}

/*KouponBankSideTabNavBar CSS Styling*/
#nav-side-tab-container {
    display: flex;
}

#nav-side-tab-sticky-control-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    border-right: 1px solid #eeeeef;
    background-color: #fff;
    z-index: 2021;
}

#homepage-button-container {

}

#homepage-padding-control-container {
    padding: 28px 57px 28px 58px;
}

#homepage-button {
    height: 64px;
    width: 64px;
    cursor: pointer;
}

#navigation-container {
    display: flex;
    flex-direction: column;
}

.navigation-margin-control-container {
    margin-top: 32px;
}

.navigation-button-container {
    display: flex;
    padding: 17px 0;
    justify-content: center;
}

.navigation-button {
    max-height: 30px;
    max-width: 30px;
    cursor: pointer;
}