/*Discover Page CSS Styling*/
#kb-discover-page {
    display: flex;
    flex-direction: row;
}

#kb-discover-page-container {
    display: flex;
    flex-direction: column;
}

#kb-discover-page-margin-control-container {
    //margin-left: var(--side-nav-bar-width, 179px);
    background-color: #fff;
}

#discover-page-main-container {
    display: flex;
}

#business-list-margin-control-container {
    margin-right: var(--discover-map-width, 841px);
}

#business-list-main-container {

}

#business-list-padding-control-container {
    padding: 30px 50px 0 50px;
}

#business-list-container {
    display: flex;
    flex-direction: column;
}

#business-list-business-container {
    // creates a flex-box layout
    // that will align the businesses from the loaded business mapping
    display: flex;
    justify-content: space-evenly;
    // the elements within the container will be in rows
    // and the elements will wrap around automatically if it exceeds div boundary
    // check discord ch for the flex-wrap or go to
    // https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    flex-flow: row wrap;
}

#page-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:  center;
}

/*Discover Business List CSS Styling*/
#business-main-margin-control-container {
    margin-bottom: 24px;
}

#business-main-container {

}

#business-container {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

#business-padding-control-container {
    padding: 16px;
}

#business-content-container {

}

#business-title {
    // top, left&right, bottom
    margin: 6.3% 5.7% 1.6%;
    font-family: NanumSquareEB;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#business-description {
    // top, left&right, bottom
    margin: 0px 5.7% 1.6%;
    font-family: NanumSquareR;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #2d3748;
}

#business-picture {
    width: 344px;
    height: 168px;
    cursor: pointer;
}