.kb-business-page {
    width: 100%;
    height: 100%;
}

.business-form-container {
    width: 60.8%;
    margin: 2.6% auto;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.business-title {
    width: 94.5%;
    height: 0.8%;
    margin: 1.1% auto 0.3%;
    font-family: NanumSquareB;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.business-description {
    width: 94.5%;
    height: 2.2%;
    margin: 0 auto 0.6%;
    font-family: NanumSquareR;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #2d3748;
}

.business-picture {
    width: 94.5%;
    height: 46%;
    margin: 2.2% auto;
}