.naver-map {
    // you have to set a position in order to have the div be an anchor point
    // for the child div 
    position: relative;
    // to center the discover-button on the map
    display: flex;
    // The auto keyword means “look at my width or height property”
    flex: auto;
    justify-content: center;
    align-items: center;

    .discover-button {
        // button css
        // makes sure that the position of the button is on the parent map div
        position: absolute;
        // positions the button to be 4.5% above the bottom
        bottom: 4.5%;
        width: 97.3%;
        height: 5.3%;
        // border
        border-radius: 24px;
        outline: none;
        // background
        background-color: #364fc7;
        cursor: pointer;
        // font css from this point on
        font-family: NanumSquareEB;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        
        // css for button hover
        &:hover {
            background-color: #2f4de6;
        }
    }
}