#background-home {
    display: flex;
    flex-direction: row;
}

#homepage-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#homepage-main-container {
    display: flex;
    flex-direction: column;
}

#homepage-row1 { //1561, 624
    //padding bottom, 31.01% = 335px/1080px
    background-color: #7f705e;
}

#homepage-row1-container { //1561, 624
    //padding bottom, 31.01% = 335px/1080px
    padding: 10% 47.3% 31.01% 6.2%;
}

#homepage-row1-text {

}   

#homepage-row1-text-title {
    width: 100%;
    font-size: 3.75vw;
    font-family: NanumSquare;
    text-align: left;
    color: #ffffff;
}

#homepage-row1-button {
    width: 20.3%;
    // height: 64px;
    margin-left: 39.76%;
    margin-top: 10.185%;
    border-radius: 32px;
    background-color: #5c7cfa;
    border-width: 0;
    padding: 1.574% 2.368%;
    color: #ffffff;
}

#homepage-row2 {
    background-color: #dbe4ff;
    padding: 9.44% 9.9% 22.1% 9.9%; //bottom originally 42.1%
    display: flex;
    flex-direction: column;
}

#homepage-row2-text {
    width: 100%;
}

#homepage-row2-text-title {
    width: 100%;
    font-size: 2.5vw;
    text-align: center;
}
    
#homepage-row2-text-subtitle {
    width: 100%;
    margin-top: 1.11111%;
    font-size: 1.25vw;
    text-align: center;
}


#homepage-row2-business {
    width: 100%;
    display: flex;
    margin-top: 14.9%;
    flex-direction: row;
    justify-content: space-evenly;
}

#homepage-row2-business-detail {
    width: 32.1%;
    background-color: #ffffff;
    margin-left: 2.04%;
    padding: 1.48% 1.4%;
    cursor: pointer;
}

#homepage-row2-business-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#homepage-row2-buseinss-picture {
    width: 100%;
    height: 55.3%;
}

#homepage-row2-business-detail-info-container{
    display: flex;
    flex-direction: column;
    margin-top: 5.06%;
}

#homepage-row2-business-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3.57%;
}

#homepage-row2-business-text-container {
    display: flex;
    flex-direction: column;
}

#homepage-row2-business-name {
    width: 100%;
    margin-bottom: 0.892%;
    font-family: NanumSquare;
    font-size: 1.25vw;
    color: #2d3748;
}

#homepage-row2-business-location {
    width: 100%;
    font-family: NanumSquare;
    font-size: 1.015vw;
    font-weight: bold;
    color: #868e96;
}

#homepage-row2-business-fav {
    max-width: 13%;
}

#homepage-row2-business-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.976%;
}

#homepage-row2-business-review {
    font-size: 1.25vw;
    font-family: NanumSquare;
}

#homepage-row2-business-view-detail {
    width: 44.2%;
    height: 10.5%;
    font-size: 1.25vw;
    font-family: NanumSquare;
    border-radius: 8px;
    border-width: 0;
    color: #868e96;
    background-color: #f2f3f4;
}

#homepage-row2-business-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#homepage-row2-business-availablity {
    font-size: 1.25vw;
    font-family: NanumSquare;
}

#homepage-row2-business-reserve {
    width: 44.2%;
    height: 10.5%;
    font-size: 1.25vw;
    font-family: NanumSquare;
    border-radius: 8px;
    border-width: 0;
    color: #ffffff;
    background-color: #364fc7;
}

#homepage-row2-button {
    width: 20.3%;
    border-radius: 32px;
    background-color: #ffffff;
    color: #91a7ff;
    border-width: 0;
    padding: 1.574% 2.368%;
    margin: 10.185% 0 10% 39.76%;
        //Margin bottom, Bottom Nav Bar height
}

